@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "reset";

$breakpoint-tablet: 1440px;
$breakpoint-mobile: 1024px;

$white: #fff;
$gray-bg: #F5F6F9;
$gray-button-bg: #E4E6EF;
$gray-close-btn: #B5C2D2;
$table-gray: #B7BAC5;
$table-border: #D5D8E4;
$label-gray: #ADB0BB;
$gray: #5D606C;
$light-blue: #123FDD;
$blue: #112A85;
$warning: #FF4132;
$overlay: rgba(20, 20, 20, .5);


body {
  font-family: 'Inter', sans-serif;
  color: $gray;
}

.container {
  width: 100%;
  max-width: calc(1440px - 224px);
  margin: 0 auto;
}

.header {
  background: $gray-bg;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    h1 {
      color: $blue;
    }
  }

  &-button {
    &-rec {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      background: $light-blue;
      border-radius: 50%;
      margin-left: 11px;
      color: white;
    }

    button {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: $gray-button-bg;
      border-radius: 8px;
      padding: 12px 14px;
      border: none;
      color: $light-blue;

      &:hover {
        background: #E4E6EF70;
      }
    }
  }
}

.content {
  padding-top: 43px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-sort {
      button {
        cursor: pointer;
        text-decoration: none;
        color: $gray;
        border: none;
        background: transparent;

        span {
          margin-left: 9px;
          color: #B7BAC6;
        }

        &:hover {
          color: $light-blue;

          span {
            color: $light-blue;
          }
        }
      }
    }
  }

  &-table {

    padding-top: 43px;

    &__info {
      display: none;
    }

    &__row {
      display: flex;
      border-radius: 8px;
      box-shadow: 0 0 1px 1px $table-border;
      margin-bottom: 12px;
      height: 60px;
    }

    &__name {
      width: 158px
    }

    &__role {
      width: 133px
    }

    &__birthday {
      width: 119px
    }

    &__place {
      width: 170px
    }

    &__email {
      width: 167px
    }

    &__phone {
      width: 147px
    }

    &__register {
      width: 110px
    }

    &__update {
      width: 92px
    }

    &__change {
      width: 60px;
    }

    &__delete {
      width: 60px;
      padding: 0;
      border-right: none!important;
    }

    &_empty {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 20px;
    }

    &__arrow {
      display: none!important;
    }

    table {
      width: 100%;

      thead {
        tr {
          height: auto;
          box-shadow: none;
          th {
            padding: 10px;
          }
        }
      }
    }


    td, th {
      padding: 20px 12px;
      white-space: nowrap;
    }

    th {
      font-size: 12px;
      font-weight: bold;
      color: $table-gray;
    }

    td {
      border-right: 1px solid $table-border;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: $gray;

      &:last-of-type {
        border-right: none;
      }
    }

    button {
      display: flex;
      width: 60px;
      height: 60px;
      padding: 20px 12px;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      justify-content: center;
      align-items: center;

      &:hover {
        path {
          fill: $light-blue;
        }
      }
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: $table-gray;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  &-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: $overlay;
  }

  &-window {
    position: relative;
    max-height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1216px;
  }

  &-content {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px 80px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(69, 73, 106, 0.2);
    border-radius: 20px;

    h1 {
      color: $blue;
    }

    &__close {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 20px;
      height: 20px;
      z-index: 2;
      text-decoration: none;
      border: none;
      background: transparent;
      cursor: pointer;

    }

    &__delete {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 20px;

      .btn {
        margin: 0 10px;
      }
    }

    &__form {
      max-width: 560px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        & > div:first-of-type {
          margin-right: 16px;
        }

        & > div:last-of-type {
          margin-left: 16px;
        }
      }
    }
  }
}

.input {
  max-width: 560px;
  width: 100%;
  margin: 10px 0;

  & .react-datepicker-popper {
    z-index: 3;
  }

  &.input-invalid {
    input {
      border: 1px solid $warning;
    }

    p {
      color: $warning;
    }
  }

  &.input-date {
    .react-datepicker-popper {
      z-index: 6;
    }

    input {
      z-index: 5;
      width: 100%;
    }

    span {
      z-index: 2;
    }
  }

  &-date {
    &__icon {
      position: absolute;
      right: 20px;
      bottom: 12px;
      color: $label-gray;
    }
  }

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;

    span {
      position: absolute;
      left: 20px;
      top: 10px;
      font-size: 10px;
      color: $label-gray;
    }
  }

  input {
    padding: 24px 19px 8px;
    background: #FFFFFF;
    border: 1px solid #D5D8E4;
    box-sizing: border-box;
    border-radius: 5px;
    color: $gray;

    &:focus {
      outline: none;
      border: 1px solid $light-blue;
    }

    &:disabled {
      background: #5D606C20;
    }
  }
}

.select {
  max-width: 560px;
  width: 100%;
  margin: 10px 0;

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;

    span {
      position: absolute;
      left: 20px;
      top: 10px;
      font-size: 10px;
      color: $label-gray;
    }
  }

  &-arrow {
    right: 20px;
    bottom: 20px;
    top: initial !important;
    left: initial !important;
  }

  select {
    z-index: 3;
    padding: 24px 19px 8px;
    background: transparent;
    border: 1px solid #D5D8E4;
    box-sizing: border-box;
    border-radius: 5px;
    color: $gray;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */

    &:focus {
      outline: none;
      border: 1px solid $light-blue;
    }

    &:disabled {
      background: #5D606C20;
    }
  }
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: $light-blue;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: $white;
  padding: 20px 14px;

  &:hover {
    background: $blue;

  }
}

.invalid-text {
  color: $warning;
}

@media (max-width: $breakpoint-tablet) {
  .container {
    width: 100%;
    max-width: calc(100% - 120px);
    margin: 0 auto;
  }
  .content {
    &-table {
      thead {
        display: none;
      }

      &__row {
        position: relative;
        height: auto;
        display: grid;
        grid-template-areas:
        "name role birthday place"
        "email phone register update"
        "change change delete delete";
        //grid-gap: var(--chakra-space-6);
        grid-template-rows: repeat(3, 0fr);
        grid-template-columns: repeat(4, 1fr);
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;

        &.close {
          height: 80px;
          overflow-y: hidden;
        }

        td {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border: none;

          span {
            &:last-of-type {
              color: $gray;
              text-align: left;
            }
          }
        }
      }


      &__info {
        display: block;
        color: $table-gray;
        font-size: 12px;
        padding-bottom: 8px;
      }

      &__name {
        grid-area: name;
        width: auto;
      }

      &__role {
        grid-area: role;
        width: auto;
      }

      &__birthday {
        grid-area: birthday;
        width: auto;
      }

      &__place {
        grid-area: place;
        width: auto;
      }

      &__email {
        grid-area: email;
        width: auto;
      }

      &__phone {
        grid-area: phone;
        width: auto;
      }

      &__register {
        grid-area: register;
        width: auto;
      }

      &__update {
        grid-area: update;
        width: auto;
      }

      &__change {
        border-top: 1px solid $table-border !important;
        border-right: 1px solid $table-border !important;
        justify-content: center !important;
        align-items: center !important;
        grid-area: change;
        width: auto;

        button {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }

      &__delete {
        border-top: 1px solid $table-border !important;
        justify-content: center !important;
        align-items: center !important;
        grid-area: delete;
        width: auto;
        padding: 0;

        button {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }

      &_empty {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 20px;
      }

      &__arrow {
        display: block!important;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 10px;
        border: none !important;
      }

    }
  }
  .modal {
    &-window {
      max-width: calc(100% - 60px);
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    &-container {
      padding: 24px 0;

      h1 {
        font-size: 24px;
      }
    }

    &-button {
      button {
        padding: 7px;

        span {
          &:first-of-type {
            display: none;
          }

          &:last-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
  .container {
    max-width: calc(100% - 40px);
  }
  .content {
    padding-top: 35px;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      button {
        padding: 0;
        margin-bottom: 17px;
        font-size: 14px;
      }
    }

    &-table {
      padding-top: 20px;

      &__row {
        position: relative;
        grid-template-areas:
        "name name"
        "role role"
        "birthday birthday"
        "place place"
        "email email"
        "phone phone"
        "register register"
        "update update"
        "change delete";
        grid-template-rows: repeat(9, 0fr);
        grid-template-columns: repeat(2, 1fr);

        td {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 1px solid $table-border;

          span {
            &:last-of-type {
              color: $gray;
              text-align: left;
            }
          }
        }

      }

      &__info {
        display: block;
        color: $table-gray;
        font-size: 12px;
        padding-bottom: 8px;
      }

      &__name {
        grid-area: name;
        width: auto;
      }

      &__role {
        grid-area: role;
        width: auto;
      }

      &__birthday {
        grid-area: birthday;
        width: auto;
      }

      &__place {
        grid-area: place;
        width: auto;
      }

      &__email {
        grid-area: email;
        width: auto;
      }

      &__phone {
        grid-area: phone;
        width: auto;
      }

      &__register {
        grid-area: register;
        width: auto;
      }

      &__update {
        grid-area: update;
        width: auto;
      }

      &__change {
        border-top: 1px solid $table-border !important;
        border-right: 1px solid $table-border !important;
        justify-content: center !important;
        align-items: center !important;
        grid-area: change;
        width: auto;

        button {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }

      &__delete {
        border-top: 1px solid $table-border !important;
        justify-content: center !important;
        align-items: center !important;
        grid-area: delete;
        width: auto;
        padding: 0;

        button {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }

      &_empty {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 20px;
      }

    }
  }
  .modal {
    &-window {
      max-width: 100%;
      min-height: 100vh;
    }

    &-content {
      border-radius: 0;
      padding: 24px 20px 40px;
      min-height: 100vh;
    }
  }
}